h1 {
    text-align: center;
}
.gameboard {
    width: 500px;
    height: 500px;
    background-color: darkmagenta;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.gamecell {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 9rem;
    background-color: aqua;
}
.gamecell:hover {
    background-color: blue;
}